version: 2

updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    groups:
      # xref: https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file#groups
      ci:
        patterns:
          - "*"
    schedule:
      interval: "daily"
    labels:
      - kind/dependency
      - kind/chore
      - kind/skip-release-notes
      - component/github-actions
  - package-ecosystem: "gomod"
    directory: "/"
    groups:
      go:
        update-types:  ["minor","patch"]
    schedule:
      interval: "weekly"
      day: "sunday"
    labels:
      - kind/dependency
      - kind/chore
    # TODO: Remove when fixed https://github.com/open-component-model/ocm-project/issues/771
    ignore:
      - dependency-name: "github.com/mikefarah/yq/v4"
        versions: [ ">4.48.1"]
  - package-ecosystem: docker
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
    labels:
      - kind/dependency
      - kind/chore
