.github
.reuse
.vscode
.idea
.project
.settings

bin

/cmds/demoplugin
/cmds/ecrplugin
/cmds/helminstaller
/cmds/test
/components/demoplugin
/components/ecrplugin
/components/helmdemo
/components/helminstaller
/components/subchartsdemo

/docs
/examples
/hack
/LICENSES
/local
/gen

/pkg/test*

/testdata
/tmp

.*
*.exe
*.md
**/Dockerfile

!go.*
!**/*.go
!.git