/cmds/test
/pkg/test
/.idea
*.sw[pqo]
main
/ecrplugin
/ocm
/demoplugin
/dist
/tmp
local
.vscode
/cmds/test/generics
/gen
bin/
!/cmds/ocm/commands/ocmcmds/cli/download/testdata/bin
*.go.grc.bk
go.mod.bak
dist/
.cache_ggshield
.DS_Store
.project
.classpath
.settings/
*.exe
.secrets
*.log
*.nupkg
**/chocolatey/tools/LICENSE.txt
