name: Blackduck Scan
on:
  push:
    branches:
      - test-blackduck-action

jobs:
  blackduck:
    name: Black Duck SCA
    runs-on:
      - large_runner
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19.x
      - name: Run Black Duck SCA
        uses: synopsys-sig/detect-action@v0.3.4
        env:
          DETECT_PROJECT_GROUP_NAME: opencomponentmodel
          DETECT_PROJECT_NAME: ocm
          DETECT_PROJECT_USER_GROUPS: opencomponentmodel
          DETECT_PROJECT_version: main
          DETECT_SOURCE_PATH: ./
          LOGGING_LEVEL_COM_SYNOPSYS_INTEGRATION: DEBUG
          DETECT_PROJECT_VERSION_DISTRIBUTION: SAAS
          DETECT_TIMEOUT: 6000
          BLACKDUCK_TRUST_CERT: true
        with:
            #scan-mode: INTELLIGENT
            github-token: ${{ secrets.GITHUB_TOKEN }}
            detect-version: 8.11.0
            blackduck-url: ${{ vars.BLACKDUCK_URL }}
            blackduck-api-token: ${{ secrets.BLACKDUCK_API_TOKEN }}
