name: Blackduck Scan Cronjob
on:
  schedule:
    - cron:  '5 0 * * 0'
  
permissions:
  checks: write

jobs:
  build:
    runs-on: [ ubuntu-latest ]
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Java 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          
      - name: Blackduck Full Scan
        uses: mercedesbenzio/detect-action@v1
        env:
          DETECT_PROJECT_USER_GROUPS: opencomponentmodel
          DETECT_PROJECT_VERSION_DISTRIBUTION: SAAS
          DETECT_SOURCE_PATH: ./
          NODE_TLS_REJECT_UNAUTHORIZED: true
        with:
          scan-mode: INTELLIGENT
          github-token: ${{ secrets.GITHUB_TOKEN }}
          blackduck-url: ${{ secrets.BLACKDUCK_URL }}
          blackduck-api-token: ${{ secrets.BLACKDUCK_API_TOKEN }}
