name: BuildComponents

on:
  workflow_dispatch:
    inputs:
      ocm_push:
        type: boolean
        description: "Push to OCM Repository"
        default: false

jobs:
  components:
    name: Trigger component build
    runs-on: large_runner
    permissions:
      contents: write
      id-token: write
      packages: write
      repository-projects: read
    steps:
      - name: Self Hosted Runner Post Job Cleanup Action
        uses: TooMuch4U/actions-clean@v2.2
        
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: '${{ github.workspace }}/go.mod'

      - name: Push OCM Components
        if: inputs.ocm_push == true
        env:
          GITHUBORG: ${{ github.repository_owner }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          make push

      - name: Build OCM Components
        if: inputs.ocm_push == false
        env:
          GITHUBORG: ${{ github.repository_owner }}
        run: |
          make ctf

      - name: Upload OCM Archive
        uses: actions/upload-artifact@v4
        with:
          name: ocm.ctf
          path: gen/ctf
