name: BuildComponents

on:
  workflow_dispatch:
    inputs:
      ocm_push:
        type: boolean
        description: "Push to OCM Repository"
        default: false

jobs:
  components:
    name: Trigger component build
    runs-on: large_runner
    permissions:
      contents: write
      id-token: write
      packages: write
      repository-projects: read
    steps:
      - name: Self Hosted Runner Post Job Cleanup Action
        uses: TooMuch4U/actions-clean@v2.2
        
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: '${{ github.workspace }}/go.mod'
          cache: false

      - name: Get go environment for use with cache
        run: |
          echo "go_cache=$(go env GOCACHE)" >> $GITHUB_ENV
          echo "go_modcache=$(go env GOMODCACHE)" >> $GITHUB_ENV
      - name: Set up cache
        # https://github.com/actions/setup-go/issues/358 - cache is not working with setup-go for multiple jobs
        uses: actions/cache/restore@v4
        with:
          path: |
            ${{ env.go_cache }}
            ${{ env.go_modcache }}
          key: ${{ env.cache_name }}-${{ runner.os }}-go-
        env:
          cache_name: buildcomponents-go-cache

      - name: Push OCM Components
        if: inputs.ocm_push == true
        env:
          GITHUBORG: ${{ github.repository_owner }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          make push

      - name: Build OCM Components
        if: inputs.ocm_push == false
        env:
          GITHUBORG: ${{ github.repository_owner }}
        run: |
          make ctf

      - name: Upload OCM Archive
        uses: actions/upload-artifact@v4
        with:
          name: ocm.ctf
          path: gen/ctf
