name: Check for diff after go mod tidy and generated targets

on:
  pull_request: {}

jobs:
  diff-check-manifests:
    name: Check for diff
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Setup Go
      uses: actions/setup-go@v5
      with:
        go-version-file: '${{ github.workspace }}/go.mod'
    - name: Make generate and deepcopy
      run: |
        make -f hack/Makefile mdref && make -f hack/Makefile go-bindata && make generate && make generate-deepcopy
    - name: go mod tidy
      run: |
        go mod tidy
    - name: Check for diff
      run: |
        gitStatus="$(git status --porcelain)"

        if [[ -z "${gitStatus}" ]]; then
            exit 0
        fi

        echo "${gitStatus}"
        exit 1
