name: lint-and-test

on:
  pull_request_target:
  push:
    branches:
      - main
  workflow_dispatch:
  workflow_call:

permissions:
  contents: read
  pull-requests: read

jobs:
  test:
    name: Run tests
    runs-on: large_runner
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: '${{ github.workspace }}/go.mod'
      - name: Test
        run: |
          PATH=$PATH:$(go env GOPATH)/bin make build install-requirements test

  go-lint:
    name: Lint Golang
    runs-on: large_runner
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: '${{ github.workspace }}/go.mod'
      - name: Install goimports
        run: |
          go install golang.org/x/tools/cmd/goimports@latest
      - name: Setup lint
        run: |
          make -f hack/Makefile golangci-lint
      - name: Lint
        run: |
          PATH=$PATH:$(go env GOPATH)/bin make check
