# This publish step takes care of some (but not all ;) ) of the package registries
# that we think might be useful for people to consume.
#
# Other package registries might also be pushed in the goreleaser step (see release.yaml) and are configured
# within .github/config/goreleaser.yaml.
#
# TODO: Unify
name: Publish Release to other package registries than Github

on:
  repository_dispatch:
    types: [publish-ocm-cli]

permissions:
  contents: read

jobs:
  push-to-brew-tap:
    name: Update Homebrew Tap
    if: github.event.client_payload.push-to-brew-tap && github.event.client_payload.version != ''
    runs-on: ubuntu-latest
    env:
      REPO: open-component-model/homebrew-tap
    steps:
    - name: Ensure proper version
      run: echo "RELEASE_VERSION=$(echo ${{ github.event.client_payload.version }} | tr -d ['v'])" >> $GITHUB_ENV
    - name: Generate token
      id: generate_token
      uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2.1.0
      with:
        app_id: ${{ secrets.OCMBOT_APP_ID }}
        private_key: ${{ secrets.OCMBOT_PRIV_KEY }}
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        path: tap
        repository: ${{ env.REPO }}
        token: ${{ steps.generate_token.outputs.token }}
    - name: Get Update Script
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        path: scripts
        sparse-checkout: |
          hack/brew
    - name: Setup Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version-file: ${{ github.workspace }}/scripts/hack/brew/go.mod
        cache: false
    - name: Build Script
      working-directory: ${{ github.workspace }}/scripts/hack/brew
      run: go build -o script
    - name: Update Homebrew Tap
      run: |
        formula=$(${{ github.workspace }}/scripts/hack/brew/script \
            --version ${{ env.RELEASE_VERSION }} \
            --template ${{ github.workspace }}/scripts/hack/brew/internal/ocm_formula_template.rb.tpl \
            --outputDirectory ${{ github.workspace }}/tap/Formula)
        mkdir -p ${{ github.workspace }}/tap/Aliases
        cd ${{ github.workspace }}/tap/Aliases
        ln -sf ../Formula/$(basename $formula) ./ocm
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
      with:
        path: tap
        token: ${{ steps.generate_token.outputs.token }}
        title: "chore: update OCM CLI to v${{ env.RELEASE_VERSION }}"
        commit-message: "[github-actions] update OCM CLI to v${{ env.RELEASE_VERSION }}"
        branch: chore/update-ocm-cli/${{ env.RELEASE_VERSION }}
        delete-branch: true
        sign-commits: true
        add-paths: |
          Formula/*
          Aliases/*
        body: |
          Update OCM CLI to v${{ env.RELEASE_VERSION }}.

  push-to-aur:
    name: Update Arch Linux User Repository
    if: github.event.client_payload.push-to-aur && github.event.client_payload.version != ''
    runs-on: ubuntu-latest
    steps:
    - name: Ensure proper version
      run: echo "RELEASE_VERSION=$(echo ${{ github.event.client_payload.version }} | tr -d ['v'])" >> $GITHUB_ENV
    - name: Install SSH key
      uses: shimataro/ssh-key-action@d4fffb50872869abe2d9a9098a6d9c5aa7d16be4 # v2.7.0
      with:
        name: aur
        key: ${{ secrets.ARCHLINUX_SSH_PRIVATE_KEY }}
        known_hosts: ${{ secrets.ARCHLINUX_KNOWN_HOSTS }}
        config: ${{ secrets.ARCHLINUX_SSH_CONFIG}}
    - name: Git operations with SSH
      run: |
        git clone ssh://aur@aur.archlinux.org/ocm-cli.git
        cd ocm-cli
        git config user.name "ocm.software"
        git config user.email "ocm@sap.com"
        ./upgrade ${{ env.RELEASE_VERSION }}
        git add PKGBUILD .SRCINFO
        git commit -m "Release ${{ env.RELEASE_VERSION }}"
        git push origin @:refs/heads/master

  push-to-chocolatey:
    name: Update Chocolatey
    if: github.event.client_payload.push-to-chocolatey && github.event.client_payload.version != ''
    runs-on: windows-latest
    steps:
    - name: Ensure proper version
      run: |
        $version = "${{ github.event.client_payload.version }}" -replace 'v'
        echo "RELEASE_VERSION=$version" | Out-File $env:GITHUB_ENV
    - name: Generate token
      id: generate_token
      uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2.1.0
      with:
        app_id: ${{ secrets.OCMBOT_APP_ID }}
        private_key: ${{ secrets.OCMBOT_PRIV_KEY }}
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        token: ${{ steps.generate_token.outputs.token }}
    - name: Update Chocolatey package
      run: |
        .\hack\chocolatey\update.ps1
        choco push ocm-cli.${{ env.RELEASE_VERSION }}.nupkg --source "'https://push.chocolatey.org/'" --api-key="${{ secrets.CHOCO_API_KEY }}"

  push-to-website:
    name: Update OCM Website
    runs-on: ubuntu-latest
    if: github.event.client_payload.push-to-website && github.event.client_payload.version != ''
    steps:
    - name: Ensure proper version
      run: echo "RELEASE_VERSION=$(echo ${{ github.event.client_payload.version }})" >> $GITHUB_ENV
    - name: Generate token
      id: generate_token
      uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2.1.0
      with:
        app_id: ${{ secrets.OCMBOT_APP_ID }}
        private_key: ${{ secrets.OCMBOT_PRIV_KEY }}
    - name: Publish Release Event
      uses: peter-evans/repository-dispatch@28959ce8df70de7be546dd1250a005dd32156697 # v4.0.1
      with:
        token: ${{ steps.generate_token.outputs.token }}
        repository: open-component-model/ocm-website
        event-type: ocm-cli-release
        client-payload: '{"tag": "${{ env.RELEASE_VERSION }}"}'
