# This publish step takes care of some (but not all ;) ) of the package registries
# that we think might be useful for people to consume.
#
# Other package registries might also be pushed in the goreleaser step (see publish-latest.yaml) and are configured
# within .github/config/goreleaser.yaml.
#
# TODO: Unify
name: Publish Release to other package registries than Github

on:
  workflow_dispatch:
    inputs:
      version:
        type: string
        description: 'Version of the latest release (e.g. v0.42.0)'
        required: false
        default: ''
  repository_dispatch:
    types: [ocm-cli-release]

jobs:

  push-to-aur:
    name: Update Arch Linux User Repository
    runs-on: ubuntu-latest
    steps:
    - name: Ensure proper version
      run: |
        if [ -n "${{ github.event.inputs.version }}" ]; then
          echo "RELEASE_VERSION=$(echo ${{ github.event.inputs.version }} | tr -d ['v'])" >> $GITHUB_ENV
          exit 0
        fi
        if [ -n "${{ github.event.client_payload.version }}" ]; then
          echo "RELEASE_VERSION=$(echo ${{ github.event.client_payload.version }} | tr -d ['v'])" >> $GITHUB_ENV
          exit 0
        fi
        echo "Version not provided"
        exit 1
    - name: Install SSH key
      uses: shimataro/ssh-key-action@v2
      with:
        name: aur
        key: ${{ secrets.ARCHLINUX_SSH_PRIVATE_KEY }}
        known_hosts: ${{ secrets.ARCHLINUX_KNOWN_HOSTS }}
        config: ${{ secrets.ARCHLINUX_SSH_CONFIG}}
    - name: Git operations with SSH
      run: |
        git clone ssh://aur@aur.archlinux.org/ocm-cli.git
        cd ocm-cli
        git config user.name "ocm.software"
        git config user.email "ocm@sap.com"
        ./upgrade ${{ env.RELEASE_VERSION }}
        git add PKGBUILD .SRCINFO
        git commit -m "Release ${{ env.RELEASE_VERSION }}"
        git push origin @:refs/heads/master

  push-to-chocolatey:
    name: Update Chocolatey
    runs-on: windows-latest
    steps:
    - name: Ensure proper version
      run: |
        $workflow_version = "${{ github.event.inputs.version }}"
        $repository_version = "${{ github.event.client_payload.version }}"
        if (-not ([string]::IsNullOrEmpty($workflow_version))) {
          $workflow_version = "$workflow_version" -replace 'v'
          echo "RELEASE_VERSION=$workflow_version" | Out-File $env:GITHUB_ENV
          exit 0
        }
        if (-not ([string]::IsNullOrEmpty($repository_version))) {
          $repository_version = "$repository_version" -replace 'v'
          echo "RELEASE_VERSION=($repository_version -replace 'v')" | Out-File $env:GITHUB_ENV
          exit 0
        }
        Write-Host "Version not provided"
        exit 1
    - name: Generate token
      id: generate_token
      uses: tibdex/github-app-token@v2
      with:
        app_id: ${{ secrets.OCMBOT_APP_ID }}
        private_key: ${{ secrets.OCMBOT_PRIV_KEY }}
    - name: Checkout
      uses: actions/checkout@v4
      with:
        token: ${{ steps.generate_token.outputs.token }}
    - name: Update Chocolatey package
      run: |
        .\hack\chocolatey\update.ps1
        choco push ocm-cli.${{ env.RELEASE_VERSION }}.nupkg --source "'https://push.chocolatey.org/'" --api-key="${{ secrets.CHOCO_API_KEY }}"

  push-to-winget:
    name: Update Winget
    runs-on: windows-latest
    steps:
    - name: Ensure proper version
      run: |
        $workflow_version = "${{ github.event.inputs.version }}"
        $repository_version = "${{ github.event.client_payload.version }}"
        if (-not ([string]::IsNullOrEmpty($workflow_version))) {
          $workflow_version = "$workflow_version" -replace 'v'
          echo "RELEASE_VERSION=$workflow_version" | Out-File $env:GITHUB_ENV
          exit 0
        }
        if (-not ([string]::IsNullOrEmpty($repository_version))) {
          $repository_version = "$repository_version" -replace 'v'
          echo "RELEASE_VERSION=$repository_version" | Out-File $env:GITHUB_ENV
          exit 0
        }
        Write-Host "Version not provided"
        exit 1
    - name: Generate token
      id: generate_token
      uses: tibdex/github-app-token@v2
      with:
        app_id: ${{ secrets.OCMBOT_APP_ID }}
        private_key: ${{ secrets.OCMBOT_PRIV_KEY }}
    - name: Checkout
      uses: actions/checkout@v4
      with:
        token: ${{ steps.generate_token.outputs.token }}
    - name: Install wingetcreate
      run: choco install wingetcreate
    - name: Update Winget package
      run: |
        cd hack\winget
        wingetcreate update --submit --token ${{ steps.generate_token.outputs.token }} --urls `
          https://github.com/open-component-model/ocm/releases/download/v${{ env.RELEASE_VERSION }}/ocm-${{ env.RELEASE_VERSION }}-windows-amd64.zip `
          https://github.com/open-component-model/ocm/releases/download/v${{ env.RELEASE_VERSION }}/ocm-${{ env.RELEASE_VERSION }}-windows-arm64.zip `
          --version ${{ env.RELEASE_VERSION }} `
          Open-Component-Model.ocm-cli
