name: REUSE Compliance Check

on: [push, pull_request]

permissions:
  contents: read

jobs:
  reuse:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: REUSE Compliance Check
      uses: fsfe/reuse-action@676e2d560c9a403aa252096d99fcab3e1132b0f5 # v6.0.0